# Database
DB_NAME={DB_NAME}
SPRING_DATASOURCE_USERNAME={SPRING_DATASOURCE_USERNAME}
SPRING_DATASOURCE_PASSWORD={datapassword}

# Security
JWT_SECRET_KEY={JWT_SECRET_KEY}

# Email Configuration
SUPPORT_EMAIL={SUPPORT_EMAIL}
APP_PASSWORD={APP_PASSWORD}

#google authentication
GOOGLE_CLIENT_ID={GOOGLE_CLIENT_ID}
GOOGLE_CLIENT_SECRET={GOOGLE_CLIENT_SECRET}

# MinIO
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=mg-ecommerce

# Gemini
GROQ_API_KEY={GROQ_API_KEY}
#Eleven Labs
ELEVENLABS_API_KEY={ELEVENLABS_API_KEY}
ELEVENLABS_VOICE_ID={ELEVENLABS_VOICE_ID}
# Konnect Payment Gateway
KONNECT_API_URL={KONNECT_API_URL}
KONNECT_API_KEY={KONNECT_API_key}
KONNECT_RECEIVER_WALLET_ID={KONNECT_RECEIVER_WALLET_ID}

# Application Callback
APP_CALLBACK_URL={APP_CALLBACK_URL}
