@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
.card-parallelogram {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.card-parallelogram:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.card-reverse-parallelogram {
  clip-path: polygon(10% 10%, 100% 0%, 90% 100%, 0% 100%);
}

.card-reverse-parallelogram:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.card-hiring {
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
}

